*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
resources/history_daily_data/*.txt
resources/analysis_result/*.txt
resources/redis-win32/*.rdb
resources/policy/*.txt
resources/policy/two/*.txt
resources/policy/three/*.txt
resources/signal/*.txt


